@import "./fonts.scss";
@import "../scss/reset.scss";

body{
    font-family: 'Nunito';
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgb(237, 242, 244);
}
//Main
.main {
    max-width: 100%;
    min-height: 100%;
}
.content {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
}
.recipe__content{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

//Nav
nav{
    max-width: 1200px;
    min-height: 142px;
    background-color: rgb(239, 35, 60);
    border-radius: 0 0 40px 40px;
    padding: 0 50px;
    display: flex;
    align-items: center;
}
.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    max-width: 120px;
    height: auto;
}

.btns--block {
    width: 100%;
    max-width: 288px;
    display: flex;
    column-gap: 40px;
}
.dwnld-upld-btns--block{
    width: 100%;
    max-width: 171px;
    display: flex;
    column-gap: 20px;
}

nav .btn{
    width: 100%;
    max-width: 75px;
    height: 75px;
    background: rgb(237, 242, 244);
    border-radius: 30px;
    transition: 400ms ease;
    &:hover{
        box-shadow: 0 0 20px #fff;
    }
    &:active{
        transform: scale(90%);
    }
}
.lang-change-btn {
    font-size: 35px;
    font-weight: 800;
    color: rgb(239, 35, 60);
}

//Edit container
.edit__container {
    margin-top: 50px;
    width: 100%;
    max-width: 406px;
    align-self: start;
}
.list-edit__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title {
    font-size: 64px;
    color: rgb(239, 35, 60);
    font-weight: 700;
}
.edit-btns--block {
    width: 100%;
    max-width: 133px;
    display: flex;
    column-gap: 13px;
}
.edit__container .btn{
    width: 100%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 15px;
    transition: 300ms ease;
}

.edit__container .icon{
    max-width: 25px;
}
// .recipes-list__container{
//     align-self: start;
// }

.list {
    max-width: 406px;
    height: 65vh;
    background: rgb(239, 35, 60);
    border-radius: 20px 20px 40px 40px;
    padding: 18px 15px 18px 17px;
}

.items__container{
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding:0 15px 0 0;
}
.list .item{
    max-width: 100%;
    height: 90px;
    background: rgb(217, 4, 41);
    border-radius: 15px;
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: 800;
    color:rgb(239, 35, 60);
    display: flex;
    align-items: center;
    padding-left: 20px;
    &:last-child{
        margin-bottom: 0px;
    }
}

.list .selected{
    background-color: rgb(237, 242, 244);
}

::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(237, 242, 244);
    border-radius: 20px;
}

//Editing area
.recipe-edit-area {
    margin-top: 49px;
    width: 100%;
    max-width: 736px;
    min-height: 100%;
    align-self: end; //Turn down when item selected
}

//NOT OPENED
.recipe-not-open--block {
    width: 100%;
    max-width: 100%;
    min-height: 605px;
    border: 5px dashed rgb(136, 153, 153);
    border-radius: 20px 20px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    font-size: 30px;
    color: rgb(136, 153, 153);
    text-align: center;
    max-width: 500px;
    padding: 20px
}

//OPENED
.recipe-open--block {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    // min-height: 554px;
    border: 5px solid rgb(217, 4, 41);
    background-color: #fff;
    border-radius: 20px 20px 40px 40px;
    display: flex;
    flex-direction: column;
    padding: 23px;
    display: none;
}
.recipe-open-text {
    font-size: 36px;
    color: rgb(239, 35, 60);
    font-weight: 700;
    padding-bottom: 20px;
}
.recipe-open--block .btn {
    width: 100%;
    min-height: 55px;
    border-radius: 15px;
    background: rgb(239, 35, 60);
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding: 0 20px;
    transition: 300ms ease;
    &:hover{
        transform: scale(105%);
    }
    &:active{
        transform: scale(95%);
    }
}
.add-ingidient-btn {
    max-width: 240px;
}
.line {
    max-width: 100%;
    height: 5px;
    background-color: rgb(239, 35, 60);
    border-radius: 10px;
    margin: 18px 0;
}
.add-description-btn {
    max-width: 265px;
}

.ingridient-and-numbering{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
.add-new-recipe__form {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.ingridient-numbering {
    font-size: 30px;
    color: rgb(239, 35, 60);
    font-weight: 700;
}
.ingridient-name {
    width: 100%;
    max-width: 450px;
    height: 58px;
    padding: 10px 20px;
    border-radius: 15px;
    background: rgb(239, 35, 60);
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.amount-unit--block{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.ingridient-amount {
    width: 95px;
    height: 58px;
    border-radius: 15px;
    background: rgb(239, 35, 60);
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding: 0 20px;
    // &:hover{
    //     position: relative;
    //     top: -20px;
    //     min-width: 95px;
    //     width: 100%;
    // }
}
.ingridient-unit {
    padding: 0 15px;
    width: 100%;
    min-width: 95px;
    max-width: 95px;
    height: 58px;
    border-radius: 15px;
    background: rgb(239, 35, 60);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.unit-option {
    background-color: rgb(217, 4, 41);
}

.add-new-recipe__form ::placeholder{
    color: rgb(217, 4, 41);
}
.description{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    font-size: 20px;
    color: rgb(239, 35, 60);
    font-weight: 600;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    overflow-y: hidden;
    resize: none;
    border: 5px dashed rgb(237, 242, 244);
    &:focus{
        background-color: rgb(237, 242, 244);
    }
}
.delete-description-btn {
    max-width: 300px;
}

//Modals
.modals {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    display: none;
}

.modals .modal {
    display: none;
}
.add-new-recipe__modal {
    width: 100%;
    max-width: 512px;
    min-height: 287px;
    background-color: rgb(239, 35, 60);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 20px;
}
.add-new-recipe__modal .title {
    align-self: center;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: rgb(237, 242, 244);
    margin-bottom: 30px;
}

.add-new-recipe__modal form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.add-new-recipe__modal .recipe-name {
    width: 100%;
    max-width: 450px;
    height: 72px;
    border-radius: 30px;
    background: rgb(237, 242, 244);
    color: rgb(239, 35, 60);
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 30px;
}
.modal-btns--block{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}
.add-new-recipe__modal .btn {
    width: 100%;
    height: 68px;
    border-radius: 30px;
    font-size: 36px;
    transition: 300ms ease;
    font-weight: 700;
}
.cancel-btn{
    max-width: 180px;
}
.create-btn{
    max-width: 250px;
}
.confirm-delete-btn{
    max-width: 250px;
}

.delete-description__modal, .delete-recipe__modal {
    width: 100%;
    max-width: 512px;
    min-height: 231px;
    background-color: rgb(239, 35, 60);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.delete-description__modal, .delete-recipe__modal .title {
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    color: rgb(237, 242, 244);
    margin-bottom: 30px;
}

.delete-description__modal, .delete-recipe__modal .btn {
    width: 100%;
    height: 68px;
    border-radius: 30px;
    font-size: 36px;
    font-weight: 700;
    transition: 300ms ease;
    &:hover{
        transform: scale(105%);
    }
    &:active{
        transform: scale(95%);
    }
}


//TOGGLE STYLES
.btn-allowed{
    background: rgb(141, 153, 174);
    color: rgb(237, 242, 244);
    &:hover{
        transform: scale(105%);
    }
    &:active{
        transform: scale(95%);
    }
    cursor: pointer;
}
.btn-not-allowed{
    background: rgb(43, 45, 66);
    color: rgb(64, 66, 90);
    cursor: not-allowed;
}